<template>
    <div class="has-text-centered">
        <img class="acnh-logo" width="300"
            src="https://image.jimcdn.com/app/cms/image/transf/dimension=1070x10000:format=png/path/s2d75ac45bde449f0/image/ie1a596faec4848b8/version/1560528561/image.png" />
    </div>
</template>
  